html body main.ak-editorial section.v10-static-live{
  background-image:url("./en-vivo-bg.svg")!important;
  background-size:cover!important;
  background-position:center center!important;
  background-repeat:no-repeat!important;
  background-color:transparent!important;
}
